#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.Github:hover {
  filter: drop-shadow(0 0 2em hsla(0, 0%, 100%, 0.667));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 30s linear;
  }
}

.card {
  padding: 2em;
  color: #ffffff;
}

.email {
  color: #c7c7c7; /* Verde elegante */
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.email:hover {
  color: #ffffff; /* Verde más oscuro al pasar el mouse */
  text-decoration: underline;
}

code {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white; /* Simula el cursor */
  width: 0;
  animation: typing 3s steps(12) forwards, blink 1s infinite;
  font-size: 15px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 120px;
  } /* Ajusta según el tamaño del texto */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}




